@using EcommerceSolutionEFCoreMVC.Models.Entities
@using EcommerceSolutionEFCoreMVC.Models.ViewModels
@using Microsoft.AspNetCore.Identity

@model ShoppingCart

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddProduct</h1>

