<br />
<div class="container">
    <div class="align-content-center text-center">
        <p>
            <h2>
                Você está na área do Administrador
            </h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>