<br />
<div class="container-fluid">
    <div class="align-content-center text-center">
        <p>
            <h2>
                Você está na área do Administrador
            </h2>
        </p>
    </div>    
    <a class="text-light btn btn-secondary rounded-2 position-absolute middle-0 start-0 m-3" asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
</div>