@model EcommerceSolutionEFCoreMVC.Models.Entities.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />            
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" value="@ViewData["UserName"]" readonly />                
                <input type="hidden" asp-for="ApplicationUserId" value="@ViewData["ApplicationUserId"]" />
                @if (ViewData["ApplicationUserId"] == null)
                {
                    <span class="text-danger">User ID is missing!</span>
                }
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Order Status</label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.StatusOptions"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input type="text" class="form-control" value="@Model.TotalAmount.ToString("C", System.Globalization.CultureInfo.CurrentCulture)" readonly />
                <input type="hidden" asp-for="TotalAmount" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input type="hidden" asp-for="AddressId" class="form-control" />
                <span asp-validation-for="AddressId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>